body{
    background-size: 100% 300%;
    background-repeat: no-repeat;
   background-image: url(https://us.123rf.com/450wm/claudiodivizia/claudiodivizia1701/claudiodivizia170100136/69467902-textura-de-tela-negra-%C3%BAtil-como-fondo-vertical.jpg?ver=6);
}